.label {
    -fx-font-family: Georgia;
}

.text-field {
    -fx-background-color: #f0f0f0;
    -fx-background-radius: 5;
    -fx-border-color: #b0b0b0;
    -fx-border-radius: 5;
    -fx-border-width: 2;
    -fx-padding: 5 10 5 10;
    -fx-text-fill: #333;
}

.text-field:focused {
    -fx-background-color: #ffffff;
    -fx-border-color: #1E90FF;
    -fx-border-width: 2;
}

.text-field:hover {
    -fx-background-color: #e8e8e8;
}

.text-field:disabled {
    -fx-opacity: 0.5;
}

.button {
    -fx-background-color: linear-gradient(#bb9adf, #6f149b);
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0, 0, 2);
    -fx-transition: 0.3s ease-in-out;
}

.button:pressed {
    -fx-background-color: linear-gradient(#2575fc, #6a11cb);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 15, 0, 0, 4);
    -fx-scale-x: 0.98;
    -fx-scale-y: 0.98;
}

.button:hover {
    -fx-background-color: rgba(241, 175, 195, 0.49);
}

#borderPane {
    -fx-background-color: rgba(206, 188, 218, 0.66);
}