.label {
    -fx-border-color: black;
    -fx-text-fill: black;
    -fx-max-width: Infinity;
    -fx-max-height: Infinity;
    -fx-alignment: top-left;
}

.cell {
    -fx-background-color: white;
}

.cell:hover {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.75), 8, 0.7, 0, 0);
}

.cell.influenced-cell {
    -fx-background-color: #b8d880;
}

.cell.influencing-cell {
    -fx-background-color: #c6e8f3;
}

.cell.clicked {
    -fx-background-color: #a6aaab;
}

.cell.of-range {
    -fx-background-color: #ffe2c0;
}

.row-header {
    -fx-background-color: lightgray;
    -fx-font-size: 14;
    -fx-alignment: center;
    -fx-border-style: solid;
}

.column-header {
    -fx-background-color: lightgray;
    -fx-font-size: 14;
    -fx-alignment: center;
    -fx-border-style: solid;
}